@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/font/HelveticaNeue.ttc");
   
  }
.experience-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 1920px;
    height: 1080px;
}
.first {
    height: 100%;
    width: 1098px;
    background-color: #474747;
}

.second {
    height: 100%;
    width: 822px;
    background-color: #FFFFFF;
}
.experience-header {
position: absolute;
width: 190px;
height: 29px;
left: 149px;
top: 47px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

/* off black */

color: #1A1A1A;
}
.experience-page {

position: absolute;
width: 29px;
height: 24px;
left: 920px;
top: 49px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */

text-align: right;

/* off black */

color: #1A1A1A;
}
.experience-hr {
position: absolute;
width: 798px;
height: 0px;
left: 150px;
top: 88px;

/* off black */

border: 1px solid #1A1A1A;
}
.experience-vector {
position: absolute;
width: 9.21px;
height: 16px;
left: 62px;
top: 57px;

/* შავი/500 */
/* 
background: #2E2E2E; */
}
.experience-ellipse {
position: absolute;
width: 40px;
height: 40px;
left: 48px;
top: 45px;
/* background: #FFFFFF; */


}
.position-wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;

position: absolute;
width: 846px;
height: 125px;
left: calc(50% - 846px/2 - 411px);
top: 157px;

}
.position-label {
width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.position-input {
    box-sizing: border-box;

    width: 798px;
    height: 48px;
    
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding-left: 16px;
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    
    display: flex;
    align-items: center;
    
    color: rgba(0, 0, 0, 0.6);
    
}
.position-hint {
top: 93px;
left: 24px;
width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* შავი/500 */

color: #2E2E2E;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}
.employer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    
    position: absolute;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    top: 294px;
}
.employer-label {
    width: 798px;
    height: 21px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    
    display: flex;
    align-items: center;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.employer-input {
    box-sizing: border-box;

    width: 798px;
    height: 48px;
    
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.employer-hint {
    width: 798px;
    height: 21px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    
    /* შავი/500 */
    
    color: #2E2E2E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.starting-date-wrapper {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;

position: absolute;
width: 419px;
height: 125px;
left: calc(50% - 419px/2 - 624.5px);
top: 431px;

}

.starting-date-label {
    width: 371px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.starting-date-input {
    box-sizing: border-box;

width: 371px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.starting-date-hint {
    display: none;
width: 280px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* შავი/500 */

color: #2E2E2E;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.ending-date-wrapper {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;

position: absolute;
width: 419px;
height: 93px;
left: calc(50% - 419px/2 - 197.5px);
top: 431px;
}

.ending-date-label {
    width: 371px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.ending-date-input {
    box-sizing: border-box;

width: 371px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.ending-date-hint {
    display: none;
width: 280px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* შავი/500 */

color: #2E2E2E;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.discription-wrapper{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;

position: absolute;
width: 846px;
height: 168px;
left: calc(50% - 846px/2 - 411px);
top: 561px;
}
.experience-hr2 {
    position: absolute;
width: 798px;
height: 0px;
left: 149px;
top: 779px;

border: 1px solid #C1C1C1;
}

.discription-label {
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.discription-input {
    box-sizing: border-box;

width: 798px;
height: 123px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
}
.discription-hint {
    display: none;
width: 280px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* შავი/500 */

color: #2E2E2E;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.add-experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    
    position: absolute;
    width: 289px;
    height: 48px;
    left: calc(50% - 289px/2 - 666.5px);
    top: 804px;
    
    background: #62A1EB;
    border-radius: 4px;
}
.add-experience-content {
    width: 247px;
    height: 20px;
    margin-left: -40px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.previous-page {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 18px 60px;
gap: 20px;

position: absolute;
width: 113px;
height: 48px;
left: 150px;
bottom: 65px;

background: #6B40E3;
border-radius: 4px;
}
.previous-page-content {
    width: 43px;
height: 20px;
margin-left: -20px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.08em;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.submit-experience {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 18px 60px;
gap: 20px;

position: absolute;
width: 151px;
height: 48px;
right: 972px;
bottom: 65px;

background: #6B40E3;
border-radius: 4px;
}
.submit-experience-content {
    width: 81px;
height: 20px;
margin-left: -25px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.08em;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}